<div class="new-bot-info-root form-group">
  <div id='titleAIConfig' class="title-cls">AI Services</div>
  <div class="ai-info-value-container">
    <label id='lblAIConfigNlp'>Natural Language Processing Provider</label>
    <div class="vendor-val">
      {{naturalLanguageProcessing }}
    </div>
  </div>
  <div class="ai-info-value-container">
    <label id='lblAIConfigNlp'>Speech-to-Text Provider</label>
    <div class="vendor-val">
      {{speechToText }}
    </div>
  </div>
  <div class="ai-info-value-container">
    <label id='lblAIConfigNlp'>Text-to-Speech Provider</label>
    <div class="vendor-val">
      {{textToSpeech }}
    </div>
  </div>
</div>
