<card-editor
  #cardEditor
  formType="variables"
  [show]="showCreateUseCaseModal"
  (eventClick)="handleEventClicked($event)"
  [resetVariables]="resetVariables"
></card-editor>
<overlay-component [active]="overlay" (eventClick)="closeOverlay()"></overlay-component>
<div>
  <!--first row of title bar-->
  <nav-bar [title]="title" [prevpage]="prevPage" (backclick)="redirectToConfig()"></nav-bar>
  <!-- second row with date picker filters-->
  <div class="filter-div-cls">
    <div id="fromLabel" class="from-txt-cls">{{ 'From' }}</div>
    <div class="dt-pick-one-cls">
      <converse-date-picker
        id="fromDate"
        type="fromDate"
        [date]="fromDate"
        [maxDate]="fromMaxDate"
        (dateChanged)="onDateChanged($event)"
      ></converse-date-picker>
    </div>
    <div id="toLabel" class="to-txt-cls">{{ 'to' }}</div>
    <div class="dt-pick-two-cls">
      <converse-date-picker
        id="toDate"
        type="toDate"
        [date]="toDate"
        [minDate]="toMinDate"
        [maxDate]="toMaxDate"
        (dateChanged)="onDateChanged($event)"
      ></converse-date-picker>
    </div>
    <div class="go-btn-cls">
      <converse-button [val]="'Go'" [id]="'btnGoMaster'" (click)="handleClick('go')" [boolGreen]="true"></converse-button>
    </div>
  </div>

  <!-- analytics widget row-->
  <div class="analytics-cls">
    <converse-text-display
      id="intentsText"
      titletext="{{ intentAnalytics.title }}"
      statstext="{{ intentAnalytics?.units }}"
      [unittext]="intentAnalytics?.totalUnits"
      (refresh)="refreshData($event)"
    >
    </converse-text-display>

    <converse-text-display
      id="convText"
      titletext="{{ automationAnalytics.title }}"
      statstext="{{ automationAnalytics?.units }}"
      [unittext]="automationAnalytics?.totalUnits"
      (refresh)="refreshData($event)"
    ></converse-text-display>

    <converse-text-display
      id="esclText"
      titletext="{{ escalationAnalytics.title }}"
      statstext="{{ escalationAnalytics?.units }}"
      [unittext]="escalationAnalytics?.totalUnits"
      (refresh)="refreshData($event)"
    ></converse-text-display>

    <converse-text-display
      id="ctsText"
      titletext="{{ custSatifactionAnalytics.title }}"
      [statstext]="custSatifactionAnalytics?.units"
      [barchartdata]="custSatifactionAnalytics?.barChartData"
      [unittext]="custSatifactionAnalytics?.totalUnits"
      (refresh)="refreshData($event)"
    ></converse-text-display>
  </div>
  <!-- master bot title  row-->
  <div class="master-title-cls">
    <div id="botManageTitle" class="title-master-cls">
      <span class="master-span-cls">{{ botType }}{{ ' Bot Management' }}</span>
    </div>
    <div class="add-master-cls" id="createBotButton" (click)="navigateToCreate()">
      <converse-button [boolWhite]="true" [val]="'New Worker Bot'"></converse-button>
    </div>
  </div>

  <!-- data table  row-->
  <div class="data-tbl-cls">
    <converse-data-table
      id="dataTable"
      [itemheaders]="botHeaders"
      [itemlist]="botData"
      (clickEventEmitter)="redirectTo($event)"
      (convEventEmitter)="showConv($event)"
    ></converse-data-table>
  </div>

  <!-- API Variables-->
  <section class="section-api">
    <div class="api-variable-title-cls">
      <div class="master-span-cls">
        <span>Variables</span>
        <div class="info-icon-title" [activateToolTip]="toolTipFlag" placement="top" (click)="toolTipFlag = !toolTipFlag" mode="click" converse-tooltip="ASSOCIATED_INTENTS"></div>
      </div>
      <div class="api-actions">
        <div class="form-group">
          <div class="search-variable-wrapper">
            <input
              type="text"
              (input)="filterTxt = $event.target.value"
              (keyup)="filterItems($event.target.value)"
              placeholder="Variable Name"
              value="{{ filterTxt }}"
              id="txtFilterText"
            />
            <div class="search-icon"><img src="assets/img/Icon_Search_Green.png" /></div>
          </div>
        </div>
        <div class="add-master-cls-import-export">
          <input type="file" #fileInput name="variableFile" id="variableFile" class="inputFile" (click)="fileInput.value = null" (change)="onFileChange($event)" accept="application/json"/>
          <converse-button
            [boolWhite]="false"
            iconType="import"
            importExportLabel = "true"
            id="importApiButton"
            val="Import Variable"
            (click)="openFileBrowser($event)"
          ></converse-button>
        </div>
        <div class="add-master-cls-import-export">
          <converse-button
            [boolWhite]="false"
            importExportLabel = "true"
            iconType="export"
            id="exportApiButton"
            val="Export All Variables"
            (click)="exportApiVariables()"
          ></converse-button>
        </div>
        <div class="add-master-cls">
          <converse-button
            [boolWhite]="true"
            id="createApiButton"
            [val]="'New Variable'"
            (click)="openVariablesSideBar()"
          ></converse-button>
        </div>
      </div>
    </div>

    <div class="variables-cls">
      <app-variable
        class="variable-section"
        (handleClickEvent)="handleEventClicked($event)"
        [variable]="variable"
        *ngFor="let variable of variables"
      ></app-variable>
    </div>
  </section>
</div>
