<div class="page-headings-row">
    <div id ='backNavigate' class='back-navigate'>
        <img class="arrow-cls" src="assets/img/grey_down.png">
        <span class="back-txt-cls">Customer Service</span>
    </div>
    <div class="pageTitleCls">Upgrade Eligibility</div>
</div>
<div class="page-wrapper">
  <div class="items-wrapper">

      <div class="icon"></div>

      <h3 class="page-heading">1. Conversation Entry Point</h3>

      <p class="sub-heading">What would the user say to initiate this conversation flow?</p>

      <p class="description">The entry point for this part of the conversion can be adjusted later. Intents, entities and other parameters can also be configured.</p>

      <!--Removed the form tag due to security issues-->

    </div>
</div>
